name: ultra_map_place_picker
description: "A Flutter package that simplifies location selection on maps, regardless of device type."
version: 0.0.5
repository: https://github.com/WissamALSbenaty/Ultra-Map-Place-Picker.git
topics:
  - google-maps-flutter
  - map
  - google-maps
  - huawei
  - place-picker

environment:
  sdk: '>=3.4.3 <4.0.0'
  flutter: ">=1.17.0"

platforms:
  android:
  ios:

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  google_huawei_availability: ^1.4.0
  huawei_map: ^6.11.2+303
  google_api_headers: ^4.1.2
  flutter_google_maps_webservices: ^1.1.1
  google_maps_flutter: ^2.7.0
  geolocator: ^12.0.0
  uuid: ^4.4.0
  http: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
